/* @-webkit-keyframes roll {
    from { -webkit-transform: rotate(0deg) }
    to   { -webkit-transform: rotate(360deg) }
}

@-moz-keyframes roll {
    from { -moz-transform: rotate(0deg) }
    to   { -moz-transform: rotate(360deg) }
}

@keyframes roll {
    from { transform: rotate(0deg) }
    to   { transform: rotate(360deg) }
}

body {
    -moz-animation-name: roll;
    -moz-animation-duration: .7s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-name: roll;
    -webkit-animation-duration: .7s;
    -webkit-animation-iteration-count: 1;
}

/* barrel roll*/

div{
    /* border: 2px rgb(255, 0, 221) solid; */
}

body.youdied {
    background-image: url(/images/giiiiif.gif);
    background-size: 80px;
    background-repeat: repeat;
}

img.youdied {
    transform: rotate(20deg);
    -webkit-animation: youdied .1s linear 1s infinite alternate;
    animation: youdied .1s linear 1s infinite alternate;
    font-size: 400px;
    margin: auto
}

body {
    background-image: url(images/background.png);
    font-family: Helvetica;
    background-attachment: fixed;
    font-size: 1em;
}

div.containall {
    display: flex;
    /*border: 2px blue solid;*/
    justify-content: flex-start;
    flex-direction: column;
}

div.menu {
    align-self: center;
    width: 80vw;
    display: flex;
    background-color: grey;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
}

div.button {
    background-color: grey;
    width: 15vw;
    text-align: center;
}

.button {
    color: orange;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

div.button:hover {
    background-color: orange;
    font-weight: bold;
}

div.cont1 {
    align-self: center;
    width: 80vw;
    display: flex;
    background-color: rgba(255, 224, 167, 0.5);
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

div.cont2 {
    width: 80vw;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    /*border: 2px blue solid;*/
}

div.controw {
    width: 80vw;
    display: flex;
    flex-direction: row;
}

div.spacer {
    padding: 5px;
    /*border: solid 2px yellow;*/
}

div.footer {
    align-self: center;
    width: 80vw;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

p.menubutton {
    padding: 5px;
}

td.btrue::after {
    content: "behaald";
    background-color: greenyellow;
}

td.bfalse::after {
    content: "niet behaald";
    background-color: red;
}

td.bpending::after {
    content: "in afwachting";
    background-color: #00c3ff;
}

td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 2px;
    background-color: #eeeeee;
}

h3 {
    font-size: 1.5em;
    margin: 0;
}

h2 {
    font-size: 1em;
}

h1 {
    text-align: center;
    padding: 0px;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: darkblue;
}

a.menu {
    color: black;
}

a.footerlink {
    color: orange;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
}

p.ea3::after{
    content: "heb afgelopen jaar mijn havo diploma behaald en ik zou het zonde vinden om mijn capaciteiten niet te gebruiken. Ook denk ik dat het HBO niveau van deze opleiding het beste bij mij past omdat het de juiste combinatie is van theorie en praktijk.";
}

p.ea3:hover::after{
    content:"BEN HOOG GELEID G";
}

img.prof {
    width: 300px;
    align-self: center;
    vertical-align: center;
}

img.home{
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 100px) {
    div.mobilemenu {
        display: none;
    }
    div.mmcontent {
        display: none;
    }
}

@media only screen and (max-width: 1100px) {
    table{
        align-self: center;
        width: 95%
    }
    img.home{
        width: 90%;
        height: 90%;
        align-self: center;
    }

    img.prof {
        align-self: center;
        width: 90%;
        height: 90%;
    }
    h1 {
        font-size: 1.5em;
        text-align: center;
    }
    td, th {
        font-size: 4vw;
        padding: 0px;
    }
    div.controw {
        flex-direction: column;
    }
    #mmmbutton {
        background-color: grey;
        width: 100%;
        text-align: center;
        align-self: center;
    }
    #mmmbutton:hover #mmcontent {
        display: block;
    }
    #mmcontent {
        align-self: center;
        width: 80vw;
        display: flex;
        background-color: grey;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border-radius: 5px;
        display: none;
    }
    div.mobilemenu {
        align-self: center;
        width: 80vw;
        display: flex;
        background-color: grey;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 2px;
        justify-content: space-evenly;
        border-radius: 5px;
    }
    div.menu {
        align-self: center;
        width: 80vw;
        display: flex;
        background-color: grey;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 2px;
        justify-content: space-evenly;
        border-radius: 5px;
        display: none;
    }
    div.button {
        background-color: grey;
        width: 100%;
        text-align: center;
        align-self: center;
    }
    div.button:hover {
        background-color: orange;
        border: 2px grey solid;
        border-radius: 5px;
    }
    div.cont1 {
        border-radius: 5px;
    }
    div.footer {
        flex-direction: column;
        text-align: center;
        border-radius: 5px;
    }
}