div {
    /* border: 2px rgb(255, 0, 212) solid; */
}

body{
    background-image: url("win.gif");
}

.containall {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.objectivecontainer {
    padding: 10px;
    width: 70vw;
    align-self: center;
    background-color: white;
    border: 2px black solid;
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto, 100px, 200px, auto;
    grid-template-areas: ". objective scoreboard .";
}

.scoreboard{
    grid-area: scoreboard;
}

.objective {
    justify-self: center;
    grid-area: objective;
}

.element {
    display: flex;
}

#el1 {
    grid-area: object1;
    justify-self: end;
}

#el2 {
    grid-area: object2;
    justify-self: center;
}

#el3 {
    grid-area: object3;
    justify-self: start;
}

#el4 {
    grid-area: object4;
    justify-self: end;
}

#el5 {
    grid-area: object5;
    justify-self: center;
}

#el6 {
    grid-area: object6;
    justify-self: start;
}

#el7 {
    grid-area: object7;
    justify-self: end;
}

#el8 {
    grid-area: object8;
    justify-self: center;
}

#el9 {
    grid-area: object9;
    justify-self: start;
}

#startbutton{
    color: white;
    background-color:black;
}

.game {
    padding: 10px;
    width: 70vw;
    align-self: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto, 100px, 100px, 100px, auto;
    grid-template-rows: auto, 100px, 100px, 100px, auto;
    grid-template-areas: ". . . . ." ". object1 object2 object3 ." ". object4 object5 object6 ." ". object7 object8 object9 ." ". . . . .";
}

img {
    width: 100px ;
    height: 100px ;
}

/* @media only screen and(max-width: 400px){
    img{
        width: 60px !important;
        height: 60px !important;
    }
} */